footer {
    /* Estilo para el footer */
    position: absolute;
    bottom: 0; /* Lo posiciona al final de la página */
    width: 100%; /* Ocupa todo el ancho de la página */
    background-color: black; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 20px;
}
footer i{
    font-size: 2rem;
    margin-left: 1.2rem;
    transition: 0.4s ease;
    cursor: pointer;
}

footer i:hover{
    color: #EE155E;
    transition: 0.4s ease;
}