<article>
    <div class="container">
        <div>
            <h1>POKEMONES</h1>
        </div>
        <div>
            <div class="container">
                <table class="table">
                    <thead>
                    <tr class="table table-active text-center ">
                        <th class="col-1 ">Numero</th>
                        <th class="col-3">Imagen</th>
                        <th class="col-1">Tipo</th>
                        <th class="col-2">Nombre</th>
                        <th class="col-1">Habilidad Especial</th>
                        <th class="col-1">Descripción</th>
                        {{#esAmin}}
                            <th class="col-1"> Accion</th>
                        {{/esAmin}}


                    </thead>
                    <tbody>

                    {{#pokemones}}
                        <tr>
                            <td class="text-center align-middle">{{numero}}</td>
                            <td class="text-center align-middle"><img src="../public/imagenes/pokemon/{{imagenLink}}"
                                                                      alt="Imagenn pokemon"></td>
                            <td class="text-center align-middle"><img src="../public/imagenes/logos/{{tipo}}.png"
                                                                      alt="logo" class="img-fluid"></td>
                            <td class="text-center align-middle">{{nombre}}</td>
                            <td class="text-center align-middle">{{habilidad}}</td>
                            <td class="text-center align-middle">{{descripcion}}</td>
                        {{#esAmin}}
                            <td class="text-center align-middle"> <a href="/admin/updatePokemon?pokemon= {{id}}"> Editar aa</a></td>
                        {{/esAmin}}
                        <tr>
                    {{/pokemones}}

                    </tbody>
                </table>
            </div>
        </div>

    </div>
</article>

