{{>header}}
<div><h1>Este es el home</h1></div>
<div>
    {{#user}}
        <tr>
            <td>parece que no lo agarra</td>
            <td>{{email}}</td>
            <td>{{email}}</td>
        </tr>
    {{/user}}
</div>