<article>
    <div class="container">
        <div>
            <h1>Este es el home</h1>
        </div>
        <div>

            <table class="table">
                <thead>
                <tr class="table table-active">
                    <th>Imagen</th>
                    <th>Tipo</th>
                    <th>Numero</th>
                    <th>Nombre</th>
                    <th>Habilidad Especial</th>
                </thead>
                <tbody>

                {{#pokemones}}
                    <tr>
                    <td><img src="../public/imagenes/pokemon/{{imagenLink}}" alt="Imagenn pokemon"></td>
                    <td>{{tipo}}</td>
                    <td>{{numero}}</td>
                    <td>{{nombre}}</td>
                    <td>{{habilidad}}</td>
                    <tr>
                {{/pokemones}}



                <!-- Agrega más filas según sea necesario -->
                </tbody>
            </table>
        </div>


    </div>
</article>

